# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

In [ ]:
first_10 = tuple(list(range(1,11)))
first_10

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

In [7]:
print(first_10[0])
print(first_10[len(first_10)//2])
print(first_10[-1])

1
6
10

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

In [8]:
print(first_10[0:3])
print(first_10[-3:])
print(first_10[2:6])

(1, 2, 3)
(8, 9, 10)
(3, 4, 5, 6)

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

In [ ]:
matrix = (
  (1,2,3),
  (4,5,6),
  (7,8,9)
)

print(matrix)
print(matrix[1][2])

((1, 2, 3), (4, 5, 6), (7, 8, 9))
6

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

In [30]:
tuple1 = (1,2,3)
tuple2 = (4,5,6)
concatenatetuple = tuple1+tuple2
print(concatenatetuple)

(1, 2, 3, 4, 5, 6)

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

In [38]:
tupleData = (1,2,3,4,51,2,4,5,2)
print(f'how many times 2 is repeated {tupleData.count(2)}')
print(f"index value is {tupleData.index(2)}")

how many times 2 is repeated 3
index value is 1

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

In [ ]:
unpack = (1,2,3,4,'madhava','cse')
a,b,c,d,e,f = unpack
print(a,b,c,d,e,f)

1 2 3 4 madhava cse

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

In [43]:
lst = [1,2,3,4,5]
print(type(lst))
covertingToTuple = tuple(lst)
print(type(covertingToTuple))
print(concatenatetuple)

<class 'list'>
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

In [45]:
tuples = ((1,2,3),(4,5,6),(7,8,9))
print(tuples[0])
print(tuples[1])
print(tuples[2])

(1, 2, 3)
(4, 5, 6)
(7, 8, 9)

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

In [47]:
firstTuple = (1,2,3,4,5)
print(f"{firstTuple} and {type(firstTuple)}")
convertingToList = list(firstTuple)
print(f"{convertingToList} and {type(convertingToList)}")
convertingToList.append(6)
convertingToTupleAgain = tuple(convertingToList)
print(convertingToTupleAgain)

(1, 2, 3, 4, 5) and <class 'tuple'>
[1, 2, 3, 4, 5] and <class 'list'>
(1, 2, 3, 4, 5, 6)

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

In [68]:
name = 'madhava'
tpl = tuple(name)
print(tpl)

join_str = "".join(tpl)
print(join_str)

('m', 'a', 'd', 'h', 'a', 'v', 'a')
madhava

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

In [48]:
dictionary = ({('ages') : 25},
              {('age1') : 24},
              {('age2'): 26})
print(dictionary)

({'ages': 25}, {'age1': 24}, {'age2': 26})

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

In [57]:
tupleValues = (1,True,False,"madhava")
eachElement = tuple(print(i) for i in tupleValues)

1
True
False
madhava

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

In [58]:
tupledup = (1,2,3,4,5,2,3,5)
removedup = tuple(set(tupledup))
print(removedup)

(1, 2, 3, 4, 5)

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [59]:
def tuplefun(tuple):
  return max(tuple),min(tuple),sum(tuple)


sampletuple = (1,2,3,4,5)
allinOne = tuplefun(sampletuple)
print(allinOne)

(5, 1, 15)