### Module 3: Data Structures Assignments
### Lesson 3.3: Sets
#### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

In [57]:
firstSet = set(list(range(1,11)))
print(firstSet)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [58]:
firstSet.add(11)  # adds at last
firstSet.pop() # removes first element from set
#firstSet.remove(1)
print(firstSet)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [59]:
set1 = {1,2,3,4,5}
set2 = {2,6,4,8,10}
unionSet = set1.union(set2) # combines all unique data points to one set
intersectionSet = set1.intersection(set2) # common values
differenceSet1 = set1.difference(set2)  # different values from set1 
differenceSet2 = set2.difference(set1)  # different values from set2
symmetricdifferenceSet = set1.symmetric_difference(set2) # differnence values from both sets
print(unionSet)
print(intersectionSet)
print(differenceSet1)
print(differenceSet2)
print(symmetricdifferenceSet)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{8, 10, 6}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [60]:
empty_set = set()
empty_set2 = set()
for i in range(1,11):
  empty_set.add(i**2)

usingListComprehension = [j**2 for j in range(1,11)]
print(usingListComprehension)
print(set(usingListComprehension))

print(empty_set)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}
{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [61]:
print(firstSet)
evenSet = {i for i in firstSet if i % 2 == 0}
print(evenSet)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}
{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [62]:
setDup = {1,2,3,4,5,6,1,2,3,40}
set(setDup)
print(setDup)

setDup = {1,2,3,4,5,6,1,2,3,40}
setDup.remove(1)
setDup.remove(2)
setDup.remove(3)
print(setDup)

{1, 2, 3, 4, 5, 6, 40}
{4, 5, 6, 40}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [63]:
set1 = {1,2,3,4,5}
set2 = {1,2,3}
subset1 = set1.issubset(set2)  # checks set1 is subset of set2(False)
subset2 = set2.issubset(set1) # checks set2 is subset of set1 (True)

supersetset1 = set1.issuperset(set2) # checks set1 is superset of set2 (True) is set1 a superset of set2?
supersetset2 = set2.issuperset(set1) # checks set2 is superset of set1 (False)


print(subset1)
print(subset2)

print(supersetset1)
print(supersetset2)

False
True
True
False

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [64]:
numbers = {1,2,3,4,5}
frozenNumbers = frozenset(numbers)
print(frozenNumbers)

frozenset({1, 2, 3, 4, 5})

### Assignment 9: Set and List Conversion

Create a set with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a set. Print the resulting set.

In [65]:
set4 = {1,2,3,4,5}
convertingtolist = list(set4)
convertingtolist.append(6)
convertingtoset = set(convertingtolist)
print(convertingtoset)
print(type(convertingtoset))

{1, 2, 3, 4, 5, 6}
<class 'set'>

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [66]:
setdata = {1,2,'madhava',True,False,True}
for i in setdata:
  print(i) # True is not going to print because True value is 1 set don't allow duplicates values

False
1
2
madhava

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [67]:
setnumbers = {1,2,3,4,5,6}
while setnumbers:
  setnumbers.pop()
  print(setnumbers)



'''setnumbers.pop()
print(setnumbers)
setnumbers.pop()
print(setnumbers)
setnumbers.pop()
print(setnumbers)
setnumbers.pop()
print(setnumbers)'''

{2, 3, 4, 5, 6}
{3, 4, 5, 6}
{4, 5, 6}
{5, 6}
{6}
set()

'setnumbers.pop()\nprint(setnumbers)\nsetnumbers.pop()\nprint(setnumbers)\nsetnumbers.pop()\nprint(setnumbers)\nsetnumbers.pop()\nprint(setnumbers)'

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [68]:
set1 = {1,2,3,4}
set2 = {1,2}
set1.symmetric_difference_update(set2)
#set2.symmetric_difference_update(set1)
print(set1)
#print(set2)

{3, 4}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [69]:
set1 = {1,2,34,5,67,37,19}
print(2 in set1)
print(4 in set1)


'''set1 = {1,2,34,5,67,37,19}
set2 = {28,36,1,2,34,37,19}
for i in set1:
  for j in set2:
    if i == j :
      print(i)'''

True
False

'set1 = {1,2,34,5,67,37,19}\nset2 = {28,36,1,2,34,37,19}\nfor i in set1:\n  for j in set2:\n    if i == j :\n      print(i)'

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [70]:
setTuple = {(1,2),(3,4),(5,6)}
setTuple

{(1, 2), (3, 4), (5, 6)}